@import url(".config/farv/current/wofi-colors.css");
@import url(".config/farv/current/wofi-search.css");

/* Image styling for clipboard thumbnails */
#entry image {
  margin-right: 10px;
  border-radius: 4px;
  -gtk-icon-transform: scale(1);
}
